name: Regression Tests Execution

on:
  workflow_run:
    workflows: ["Smoke Tests Execution"]
    types: [completed]
  workflow_dispatch:
    inputs:
      env:
        default: "qa"
        type: string

jobs:
  regression-job:
    if: ${{ github.event.workflow_run.conclusion == 'success' || github.event_name == 'workflow_dispatch' }}
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'

      - run: npm install -g allure-commandline && npx playwright install --with-deps

      - name: Restore Regression History
        continue-on-error: true
        run: |
          git fetch origin gh-pages
          mkdir -p target/allure-results/history
          git checkout origin/gh-pages -- allure-history/regression/history || echo "No history"
          cp -r allure-history/regression/history/* target/allure-results/history/ 2>/dev/null || true

      - name: Run Regression
        id: run
        continue-on-error: true
        run: xvfb-run --auto-servernum -- mvn clean test -Dcucumber.filter.tags="@regression"

      - name: Generate Report
        if: always()
        run: |
          mvn exec:java -Dexec.mainClass="com.samtech.qa.testutilities.AllureDefectAge" -Dexec.classpathScope=test
          allure generate target/allure-results -o allure-report-regression --clean

      - name: Save Regression History
        if: always()
        run: |
          mkdir -p allure-history/regression
          cp -r allure-report-regression/history allure-history/regression/

          git config user.name github-actions
          git config user.email github-actions@github.com
          git add allure-history/regression/history
          git commit -m "Update regression history" || echo "No changes"
          git push origin HEAD:gh-pages

      - name: Archive Data
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: Regression_Data_Build_${{ github.run_number }}
          path: |
            target/defect-age-report.csv
            test-output/failedLocators_*.json
            target/allure-results
            allure-report-regression

      - name: Deploy Report
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: allure-report-regression
          destination_dir: regression-report
          keep_files: true

      - name: Final Status
        if: always()
        run: exit ${{ steps.run.outcome == 'failure' && 1 || 0 }}
