name: Smoke Tests Execution

on:
  push:
    branches: [ main ]
  workflow_dispatch:
    inputs:
      env:
        description: "Environment"
        required: true
        default: "qa"
        type: choice
        options: [qa, dev, prod]
      browser:
        required: true
        default: "chromium"
        type: choice
        options: [chromium, firefox, webkit]

jobs:
  smoke-job:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Main
        uses: actions/checkout@v4

      - name: Checkout gh-pages
        uses: actions/checkout@v4
        with:
          ref: gh-pages
          path: gh-pages
        continue-on-error: true

      - uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: 'maven'

      - run: npm install -g allure-commandline && npx playwright install --with-deps

      - name: Restore Smoke History
        run: |
          mkdir -p target/allure-results/history
          if [ -d gh-pages/allure-history/smoke/history ]; then
            cp -r gh-pages/allure-history/smoke/history/* target/allure-results/history/
          fi

      - name: Run Smoke Tests
        id: run
        continue-on-error: true
        run: |
          xvfb-run --auto-servernum -- mvn test \
          -Denv=${{ github.event.inputs.env || 'qa' }} \
          -Dbrowser=${{ github.event.inputs.browser || 'chromium' }} \
          -Dcucumber.filter.tags="@smoke"

      - name: Generate Defect Age + Report
        if: always()
        run: |
          mvn exec:java -Dexec.mainClass="com.samtech.qa.testutilities.AllureDefectAge" -Dexec.classpathScope=test
          allure generate target/allure-results -o allure-report-smoke --clean

      - name: Update gh-pages Content
        if: always()
        run: |
          mkdir -p gh-pages/smoke-report
          mkdir -p gh-pages/allure-history/smoke

          rm -rf gh-pages/smoke-report/*
          cp -r allure-report-smoke/* gh-pages/smoke-report/
          rm -rf gh-pages/allure-history/smoke/history
          cp -r allure-report-smoke/history gh-pages/allure-history/smoke/

      - name: Deploy to gh-pages
        if: always()
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: gh-pages
          publish_branch: gh-pages
          keep_files: true

      - name: Final Status
        if: always()
        run: exit ${{ steps.run.outcome == 'failure' && 1 || 0 }}
